<%
var unit = @shiro.getPrincipalProperty('unit');
layout("/layout/unify.html",{title:unit.name!'蛋客服'}){
%>
<style>
    .wrapper-content {
        width: 100%;
        height: 100%;
    }

    .row {
        width: 100%;
        height: 100%;
    }

    #tab-1,#tab-2 {
        border: 1px solid #cccccc;
        height: 100%;
        width: 100%;
    }

    #left {
        position: absolute;
        left: 5%;
        /*display: inline-block;*/
        /*float:left;*/
        /*border: 1px solid red;*/
        width: 20%;
    }

    #filePicker {
        width: 100%;
        /*float:right;*/
        /*border: 1px solid blue;*/
    }

    .tab-content {
        height: 100%;
    }

    #right {
        position: absolute;
        right: 5%;
        display: inline-block;;
        width: 65%;
        border: 2px solid #cccccc;
        padding:10px;
    }

    .panel-body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .panel-body, #left, #right {
        height: 90%;
    }
    .panel-body, #left, #right {

    }

    #left img {
        width: 150px;
        height: 150px;
        display: block;
        margin: 0 auto;
        /*border: 3px solid #cccccc;*/
    }

    #left #filePicker {
        /*text-align: center;*/
        /*font-size: 18px;*/
        /*font-family: 微软雅黑;*/
        /*font-weight: 600px;*/
        /*background-color: ;*/
        margin: 0 auto;
        /*padding: 0;*/
        /*margin: 0;*/
        width: 50%;
    }

    #pwd-box{
        width: 100%;
        height: 100%;
        border:1px solid #cccccc;
        padding:10px;
    }

</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row" style="width: 100%; height: 100%;">
        <div class="col-sm-12" style="height: 100%;">
            <div class="tabs-container" style="height: 100%;">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">企业信息</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">修改密码</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">角色设置</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div id="left">
                                <div id="uploader-demo">
                                    <!--用来存放item-->
                                    <div id="fileList" class="uploader-list">
                                        <div id="WU_FILE_2" class="file-item thumbnail"><img
                                                src="${base}/assets/img/webuploader.png" id="logoImg">
                                            <div class="info"></div>
                                        </div>
                                    </div>
                                    <div id="filePicker">选择图片</div>
                                </div>

                            </div>
                            <div id="right">
                                <el-form status-icon ref="form1" :model="form1" :rules="rules2" label-width="80px">
                                    <el-form-item label="企业名称" prop="name">
                                        <el-input v-model="form1.name"></el-input>
                                    </el-form-item>
                                    <el-form-item label="邮箱"  prop="email" :rules="[
      { required: true, message: '请输入邮箱地址', trigger: 'blur' },
      { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
    ]" >
                                        <el-input v-model="form1.email"></el-input>
                                    </el-form-item>

                                    <el-form-item label="联系电话" prop="phone">
                                        <el-input v-model="form1.phone"></el-input>
                                    </el-form-item>

                                    <el-form-item label="企业介绍" prop="note">
                                        <el-input type="textarea" v-model="form1.note"></el-input>
                                    </el-form-item>

                                    <el-form-item>
                                        <el-button type="primary" @click="onSubmit('form1')">保存</el-button>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div id="pwd-box">
                                <el-form status-icon ref="form2" :model="form2" :rules="rules_pwd" label-width="80px">
                                    <el-form-item label="原密码" prop="oldPwd">
                                        <el-input type="password"  v-model="form2.oldPwd"></el-input>
                                    </el-form-item>
                                    <el-form-item label="新密码"  prop="newPwd" >
                                        <el-input type="password" v-model="form2.newPwd"></el-input>
                                    </el-form-item>

                                    <el-form-item label="确认密码" prop="conformPwd">
                                        <el-input type="password" v-model="form2.conformPwd"></el-input>
                                    </el-form-item>

                                    <el-form-item>
                                        <el-button type="primary" @click="onSubmit2('form2')">保存</el-button>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div id="role-box">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>



        let app = new Vue({
            el:'.tab-content',
            data:function(){
                var checkName = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入公司名'));
                    } else {
                        callback();
                    }
                };
                var checkPhone = (rule, value, callback) => {
                    if (value === '') {
                        // callback(new Error('请输入手机号'));
                        callback();
                    } else if(value.length !=11){
                        callback(new Error('请输入正确的手机号'));
                    }else {
                        callback();
                    }
                };

                var checkNote = (rule, value, callback) => {
                        if (value === '') {
                            callback();
                        } else if(value.length >255){
                            callback(new Error('内容过多'));
                        }else {
                            callback();
                        }
                };


                var oldPwd = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入原密码'));
                    } else {
                        callback();
                    }
                };
                var newPwd = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入新密码'));
                    } else {
                        if (this.form2.conformPwd !== '') {
                            this.$refs.form2.validateField('conformPwd');
                        }
                        callback();
                    }
                };

                var conformPwd = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入确认密码'));
                    } else {
                        if(value!=app.form2.newPwd){
                            callback(new Error('两次密码不一致'));
                        }
                        callback();
                    }
                };


                return {
                    form1: {
                        id:'${u.id}',
                        name: '${u.name!}',
                        email:'${u.email!}',
                        phone:'${u.phone!}',
                        note:'${u.note!}',
                        logo:'${u.logo!}'
                    },
                    rules2: {
                        name: [
                            { required: true, message: '请输入企业名称', trigger: 'blur' },
                            { validator: checkName, trigger: 'blur' }
                        ],
                        phone:[
                            { validator: checkPhone, trigger: 'blur' }
                        ],
                        note:[
                            { validator: checkNote, trigger: 'blur' }
                        ]
                    },
                    form2:{
                        oldPwd:'',
                        newPwd:'',
                        conformPwd:''
                    },
                    rules_pwd : {
                        oldPwd:[
                            { required: true, message: '请输入原密码', trigger: 'blur' },
                            { validator: oldPwd, trigger: 'blur' }
                        ],
                        newPwd:[
                            { required: true, message: '请输入新密码', trigger: 'blur' },
                            { validator: newPwd, trigger: 'blur' }
                        ],
                        conformPwd:[
                            { required: true, message: '请输入确认密码', trigger: 'blur' },
                            { validator: conformPwd, trigger: 'blur' }
                        ]
                    }
                };
            },
            methods:{
                onSubmit:function(formName){
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            $.post('${base}/compay/save',JSON.stringify(app.form1),function(data){
                                console.log(data);
                                if(data.code == 0){
                                    Toast.success("修改密码成功");
                                }else{
                                    Toast.error(data.msg);
                                }
                            });
                            // alert('submit!');
                        } else {
                            return false;
                        }
                    });
                },
                onSubmit2:function(formName){
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            $.post('${base}/user/pwd/update',JSON.stringify(app.form2),function(data){
                                console.log(data);
                                if(data.code == 0){
                                    Toast.success("修改成功");
                                }else{
                                    Toast.error(data.msg);
                                }
                            });
                            // alert('submit!');
                        } else {
                            return false;
                        }
                    });
                }
            },
            created:function(){
                console.log(this.form1.logo);
                if(this.form1.logo){
                    $('#logoImg').attr('src',this.form1.logo);
                }
            }
        });


    var uploader = WebUploader.create({
        // swf文件路径
        swf: '${base}/assets/js/plugins/webuploader/Uploader.swf',

        // 文件接收服务端。
        server: '${base}/upload/image',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        },
        fileVal: 'file',
        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false
    });
    // 当有文件添加进来的时候
    uploader.on('fileQueued', function (file) {
        uploader.makeThumb(file, function (error, src) {
            if (error) {
                Toast.error("创建预览失败");
                // $img.replaceWith('<span>不能预览</span>');
                return;
            }
            console.log(src);
            console.log( $('#WU_FILE_2'));
            $('#WU_FILE_2 img').attr("src",src);
        }, 150, 150);
        uploader.upload();
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on('uploadSuccess', function (file, response) {
        // Toast.success("上传成功");
        // console.log(file);
        console.log(response);
        if(response.code == 0){
            app.form1.logo = response.data.path
        }else{
            Toast.error("上传失败");
        }
        // $( '#'+file.id ).addClass('upload-state-done');
    });

    // 文件上传失败，显示上传出错。
    uploader.on('uploadError', function (file) {
        var $li = $('#' + file.id),
            $error = $li.find('div.error');

        // 避免重复创建
        if (!$error.length) {
            $error = $('<div class="error"></div>').appendTo($li);
        }

        $error.text('上传失败');
    });

</script>
</html>
<% } %>