<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="${base}/assets/js/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="${base}/assets/css/service/chat/index3.css">

    <link href="${base}/assets/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <style>
        #chatInfo{
            height: 800px;
            overflow-y: auto;
        }
        .centre-header-hide{
            display: none;
        }
    </style>
</head>

<body ref="myBody">
<div id="app">
    <el-row>
        <el-col :span="4">
            <div class="grid-content bg-purple chatContent">
                <div>
                    <template>
                        <el-tabs :stretch=true v-model="tab1_activeName" @tab-click="tab1Click">
                            <el-tab-pane :label="tab_online+total" name="online">
                                <div class="chatList" :style="height_style">
                                    <div v-for="(item,index) in onlineList"
                                         :class="[{lock_active:item.lock_active,'online-item':is_online}]"
                                         :key="item.id" @mouseenter="item_overShow($event)"
                                         @mouseleave="item_outHide($event)" @click="queryHistoryLog(item,$event)">
                                        <img :src="item.source == 'web_mobile'?web_mobile_icon:item.source == 'web_pc'?web_pc_icon:''"
                                             :class="{offline_head:item.status != 'online',chat_head:true}" alt="图片加载失败"
                                             :style="online_item_headimg">
                                        <p class="chat-name">{{item.name}}</p>
                                        <!--<i :class="item.source == 'web_mobile'?'fa fa-mobile fa-2x':item.source == 'web_pc'?'fa fa-television':'' " aria-hidden="true"></i>-->
                                    </div>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane :label="offlineName" name="history">
                                <div class="chatList" :style="height_style">
                                    <div v-for="(item,index) in historyList"
                                         :class="[{lock_active:item.lock_active,'online-item':is_online}]" :key="item.id"
                                         @mouseenter="item_overShow($event)"
                                         @mouseleave="item_outHide($event)" @click="queryHistoryLog(item,$event)">
                                        <img :src="item.source == 'web_mobile'?web_mobile_icon:item.source == 'web_pc'?web_pc_icon:''"
                                             :class="{offline_head:true,chat_head:true}" alt="图片加载失败"
                                             :style="online_item_headimg">
                                        <p class="chat-name">{{item.name}}</p>
                                        <!--<img :src="web_mobile_icon" alt="图片加载失败" class="chat_icon" :style="online_item_icon">-->
                                    </div>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                </div>
            </div>
        </el-col>
        <el-col :span="14">
            <div class="grid-content bg-purple-light" id="centre">
                <el-container>
                    <el-header id="centre-header">
                        <div :class="[{'centre-header-hide':current_chat_name==''},'centre-header-item']">
                            <p>正在与<span>[{{current_chat_name}}]</span>聊天</p>
                            <img class="centre-header-req" src="${base}/assets/img/service/chat/heart.png" width="24"
                                 height="24" alt="邀请评价">
                            <div class="centre-header-source-box">
                                <img :src="current_chat_source == 'web_mobile'?web_mobile_icon:current_chat_source == 'web_pc'?web_pc_icon:''" width="32" height="32"
                                     :alt="current_chat_source == 'web_mobile'?'手机网站':current_chat_source == 'web_pc'?'电脑网站':'其他'">
                            </div>
                        </div>
                    </el-header>
                    <el-main id="centre-body">
                        <div id="no_chats"></div>
                        <div id="centre-body-chatbox">
                            <div id="wrap">
                                <ul id="centre-body-chat-list">


                                    <li class="chatmsg" v-for="item in chat_logs.records">
                                        <div class="showtime">{{item.prevTime}}</div>
                                        <div :class="[item.msgFrom == chat_logs.chatId?'img-left':'img-right']" style="">
                                            <img v-if="item.msgFrom == chat_logs.chatId" class="my-circle  se_pic"
                                            :src="item.source == 'web_mobile'?web_mobile_icon:item.source == 'web_pc'?web_pc_icon:''" width="50px"
                                            height="50px">
                                            <img v-else class="my-circle  se_pic"
                                            :src="servicer_headimg" width="50px"
                                            height="50px">
                                        </div>
                                        <div :class="[item.msgFrom == chat_logs.chatId?'outer-left':'outer-right']">
                                            <div :class="[item.msgFrom == chat_logs.chatId?'customer':'service']  ">
                                                <pre>{{item.content}}</pre>
                                            </div>
                                        </div>
                                    </li>

                                    <!--<li class="chatmsg" v-for="item in chat_logs.records">-->
                                        <!--<div class="showtime">{{item.prevTime}}</div>-->
                                        <!--<div :class="{img-left:item.msgFrom == chat_logs.chatId,img-right:item.msgFrom != chat_logs.chatId }" style="">-->
                                            <!--<img v-if="item.msgFrom == chat_logs.chatId" class="my-circle  se_pic"-->
                                                 <!--:src="item.source == 'web_mobile'?web_mobile_icon:item.source == 'web_pc'?web_pc_icon:''" width="50px"-->
                                                 <!--height="50px">-->
                                            <!--<img v-else class="my-circle  se_pic"-->
                                                 <!--:src="item.source == 'web_mobile'?web_mobile_icon:item.source == 'web_pc'?web_pc_icon:''" width="50px"-->
                                                 <!--height="50px">-->
                                        <!--</div>-->
                                        <!--<div :class="{outer-left:item.msgFrom == chat_logs.chatId,outer-right:item.msgFrom != chat_logs.chatId }">-->
                                            <!--<div class="customer">-->
                                                <!--<pre>{{item.content}}</pre>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li class="chatmsg">-->
                                        <!--<div class="showtime"></div>-->
                                        <!--<div class="img-left" style="">-->
                                            <!--<img class="my-circle  se_pic"-->
                                                 <!--src="https://www.wolive.cc/assets/upload/0.jpg" width="50px"-->
                                                 <!--height="50px">-->
                                        <!--</div>-->
                                        <!--<div class="outer-left">-->
                                            <!--<div class="customer">-->
                                                <!--<pre>前端套路深,我要回后端...</pre>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li class="chatmsg">-->
                                        <!--<div class="showtime"></div>-->
                                        <!--<div class="img-right" style="">-->
                                            <!--<img class="my-circle  se_pic"-->
                                                 <!--src="https://www.wolive.cc/assets/upload/0.jpg" width="50px"-->
                                                 <!--height="50px">-->
                                        <!--</div>-->
                                        <!--<div class="outer-right">-->
                                            <!--<div class="service">-->
                                                <!--<pre>慢慢就浅了</pre>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li class="chatmsg">-->
                                        <!--<div class="showtime"></div>-->
                                        <!--<div class="img-left" style="">-->
                                            <!--<img class="my-circle  se_pic"-->
                                                 <!--src="https://www.wolive.cc/assets/upload/0.jpg" width="50px"-->
                                                 <!--height="50px">-->
                                        <!--</div>-->
                                        <!--<div class="outer-left">-->
                                            <!--<div class="customer">-->
                                                <!--<pre>这页面费了好多事</pre>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li class="chatmsg">-->
                                        <!--<div class="showtime"></div>-->
                                        <!--<div class="img-right" style="">-->
                                            <!--<img class="my-circle  se_pic"-->
                                                 <!--src="https://www.wolive.cc/assets/upload/0.jpg" width="50px"-->
                                                 <!--height="50px">-->
                                        <!--</div>-->
                                        <!--<div class="outer-right">-->
                                            <!--<div class="service">-->
                                                <!--<pre>先写好这一版再说....</pre>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->

                                    <!--<li class="chatmsg">-->
                                        <!--<div class="showtime"></div>-->
                                        <!--<div class="img-right" style="">-->
                                            <!--<img class="my-circle  se_pic"-->
                                                 <!--src="https://www.wolive.cc/assets/upload/0.jpg" width="50px"-->
                                                 <!--height="50px">-->
                                        <!--</div>-->
                                        <!--<div class="outer-right">-->
                                            <!--<div class="service">-->
                                                <!--<pre>Emmmmm......</pre>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->

                                    <!--<li class="chatmsg">-->
                                        <!--<div class="showtime"></div>-->
                                        <!--<div class="img-right" style="">-->
                                            <!--<img class="my-circle  se_pic"-->
                                                 <!--src="https://www.wolive.cc/assets/upload/0.jpg" width="50px"-->
                                                 <!--height="50px">-->
                                        <!--</div>-->
                                        <!--<div class="outer-right">-->
                                            <!--<div class="service">-->
                                                <!--<pre>截图留念~</pre>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->


                                </ul>
                            </div>
                            <div id="footer">
                                <div class="msg-toolbar" style="background: #fff;border: none;">
                                </div>
                                <div class="msg-input">
                                    <div class="input-box">
                      <textarea  v-model="text_in" id="text_in" placeholder="请输入要发送的内容" class="edit-ipt"
                                style="overflow-y: auto; font-weight: normal; font-size: 14px; overflow-x: hidden; word-break: break-all; font-style: normal; outline: none;padding: 5px;border:none;"
                                contenteditable="true" hidefocus="true" tabindex="0"></textarea>
                                    </div>

                                    <div class="msg-toolbar-footer">
                                        <el-button @click="send_plain" type="primary" plain>发送</el-button>
                                        <!-- <a id="showinfo" style="position: absolute;right: 0;top: 0;width: 20%;height: 42px;background: #d41010;text-align: center; border-left: 1px solid #FFF;cursor: pointer;">
                                                     <i class="triangle" style="margin-top: 21px;"></i> -->
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </el-main>
                </el-container>
            </div>
        </el-col>
        <el-col :span="6">
            <el-tabs :stretch=true v-model="tab2_activeName" @tab-click="tab2Click">
                <el-tab-pane id="chatInfo" :label="chatInfo" name="chatInfo">
                    <el-form ref="customer" class="info-form" label-width="80px">
                        <el-form-item label="姓名">
                            <el-input v-model="customer.name" placeholder="请输入姓名"></el-input>
                            <input type="hidden" :value="customer.id">
                            <input type="hidden" :value="customer.chatId">
                            <input type="hidden" :value="customer.unitId">

                            <input type="hidden" :value="customer.source">
                            <input type="hidden" :value="customer.platform">
                        </el-form-item>

                        <el-form-item label="性别">
                            <el-select v-model="customer.gender" placeholder="请选择性别">
                                <el-option label="男" value="男"></el-option>
                                <el-option label="女" value="女"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="备注">
                            <el-input v-model="customer.remark" placeholder="请输入备注"></el-input>
                        </el-form-item>
                        <el-form-item label="联系电话">
                            <el-input v-model="customer.phone" placeholder="请输入联系电话"></el-input>
                        </el-form-item>
                        <el-form-item label="邮箱">
                            <el-input v-model="customer.email" placeholder="请输入邮箱"></el-input>
                        </el-form-item>
                        <el-form-item label="年龄">
                            <el-input v-model="customer.age"  placeholder="请输入年龄"></el-input>
                        </el-form-item>


                        <el-form-item label="出生年月">
                            <el-input v-model="customer.birthday" placeholder="请输入出生年月"></el-input>
                        </el-form-item>


                        <el-form-item label="证件类型">
                            <el-select v-model="customer.cardType" placeholder="请选择证件类型">
                                <el-option label="身份证" value="身份证"></el-option>
                                <el-option label="军官证" value="军官证"></el-option>
                                <el-option label="护照" value="护照"></el-option>
                                <el-option label="其他" value="其他"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="证件号">
                            <el-input v-model="customer.card" placeholder="请输入证件号"></el-input>
                        </el-form-item>

                        <el-form-item label="地址" inline="true">
                            <el-select v-model="customer.province" placeholder="省份">
                                <el-option label="其他" value="其他"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item>
                            <el-select v-model="customer.city" placeholder="市">
                                <el-option label="其他" value="其他"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item>
                            <el-select v-model="customer.region" placeholder="区">
                                <el-option label="其他" value="其他"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="详细地址">
                            <el-input v-model="customer.address" placeholder="请输入详细地址"></el-input>
                        </el-form-item>
                        <el-form-item label="职业">
                            <el-input v-model="customer.profession" placeholder="请输入职业"></el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button @click="saveCustomer">提交</el-button>
                        </el-form-item>
                    </el-form>

                </el-tab-pane>
                <el-tab-pane :label="chatHistory" name="chatHistory">
                    <div id="timeline-info">Ta来访过 <span>3</span>次</div>

                    <ul class="layui-timeline">
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title"><span class="time">2018-07-08 20:11</span> <img
                                        src="${base}/assets/img/service/chat/mobile_icon2.png" width="25" height="25"
                                        alt=""> 客服:<span>wendal</span></div>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title"><span class="time">2018-07-08 20:12</span> <img
                                        src="${base}/assets/img/service/chat/mobile_icon2.png" width="25" height="25"
                                        alt=""> 客服:<span>wendal</span></div>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title"><span class="time">2018-07-08 20:13</span> <img
                                        src="${base}/assets/img/service/chat/mobile_icon2.png" width="25" height="25"
                                        alt=""> 客服:<span>wendal</span></div>
                            </div>
                        </li>
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis"></i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title"><span class="time">2018-07-08 20:14</span> <img
                                        src="${base}/assets/img/service/chat/mobile_icon2.png" width="25" height="25"
                                        alt=""> 客服:<span>wendal</span></div>
                            </div>
                        </li>

                    </ul>

                </el-tab-pane>
            </el-tabs>
        </el-col>
    </el-row>
</div>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- import Vue before Element -->
<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script type="text/javascript" src="https://unpkg.com/element-ui/lib/index.js"></script>

<script type="text/javascript" src="${base}/assets/js/plugins/layui/layui.all.js"></script>
<script type="text/javascript" src="${base}/assets/js/reconnecting-websocket.js"></script>
<script type="text/javascript" src="${base}/assets/js/websocket/dankefu-types.js"></script>
<script type="text/javascript" src="${base}/assets/js/websocket/dankefu-tpls.js"></script>
<script type="text/javascript" src="${base}/assets/js/websocket/dankefu.js"></script>
<script>
    var ws;
    var laytpl;
    var start_time;
    var end_time;
    var unitId = "${session.unitId!}";
    var app = new Vue({
        el: '#app',
        data: {
            tab1_activeName: 'online',
            tab2_activeName: 'chatInfo',
            onlienName: '当前访客',
            offlineName: '历史访客',
            chatInfo: '来访信息',
            chatHistory: '历史来访',
            curOnline: '3',
            total: 0,
            is_lock_active: true,
            is_online: true,
            current_chat_name:'',
            current_chat:{},
            current_chat_source:'',
            servicer_headimg:'${user.icon!}',
            text_in:'',
            height_style: {
                height: '800px',
            },
            online_item_headimg: {
                width: '50px',
                height: '50px',
                display: 'inline'
            },
            online_item_icon: {
                width: '25px',
                height: '25px',
                float: 'right',
                'margin-right': '15px',
                'margin-top': '18px'
            },
            mobileHeadImg: '',
            web_mobile_icon: '${base}/assets/img/service/chat/mobile_icon2.png',
            web_pc_icon: '${base}/assets/img/service/chat/pc_icon2.png',
            onlineList: [
                // {
                //   id: '1',
                //   name: '测试1',
                //   headImg: '',
                //   source: 'mobile_web',
                //   status: 'online'
                // }
            ],
            historyList: [
                // {
                //   id: '5',
                //   name: '测试3',
                //   headImg: '',
                //   source: 'mobile_web',
                //   status: 'online'
                // }
            ],
            customer: {
                id:'',
                chatId:'',
                unitId:'',
                name: '',
                remark: '',
                gender: '',
                phone: '',
                email: '',
                age: '',
                birthday: '',
                cardType: '',
                card: '',
                province: '',
                city: '',
                region: '',
                address: '',
                profession: '',
                source:'',
                platform:''
            },
            chat_logs:{
                pageNo:0,
                pageSize:20,
                month:'',
                chatId:'',
                records:[]
            }
        },
        methods: {
            tab1Click: function (tab, event) {
                // console.log(tab, event);
            },
            tab2Click: function (tab, event) {
            },
            queryHistoryLog: function (item, e1) {
                switchChat(item);

            },
            item_overShow: function (e1) {
                $(e1.currentTarget).addClass('active');
            },
            item_outHide: function (e1) {
                $(e1.currentTarget).removeClass('active');
            },
            saveCustomer:function(){
                console.log(app.customer);
                if(app.customer.chatId!=''){
                    $.post('${base}/customer/save',JSON.stringify(app.customer),function(resp){
                        console.log(resp);
                        if(resp.code == 0){
                            app.customer = resp.data;
                            var flag = true;
                            app.onlineList = app.onlineList.filter(function (item) {
                                if(item.id == resp.data.chatId){
                                    item.customer = resp.data;
                                    flag = false;
                                }
                                return item;
                            })
                            if(flag){
                                app.historyList = app.historyList.filter(function (item) {
                                    if(item.id == resp.data.chatId){
                                        item.customer = resp.data;
                                        flag = false;
                                    }
                                    return item;
                                })
                            }
                            layer.msg("保存成功");
                        }
                    });
                }
            },
            send_plain:function(){
                console.log(app.text_in);
                if(app.text_in ==''){
                    layer.msg("请先输入点内容");
                    return;
                }

                var box = $('#wrap')[0];
                console.log(box);


                console.log(app.current_chat.id);
                if( app.current_chat.id){
                    var packet = {};
                    packet.action = type.S_REQ_RECEIVEMSG;
                    packet.msgFrom = '${uid!}';
                    packet.msgTo = app.current_chat.id;
                    packet.recordType = "chat";
                    packet.msgType = "text";
                    packet.prevTime = "";
                    packet.content = app.text_in;
                    packet.unitId = unitId;
                    packet.session_id = app.current_chat.curr_session.id;
                    packet.source = app.current_chat.source;
                    sendString(JSON.stringify(packet));
                    app.text_in = '';


                    app.chat_logs.records.push(packet);
                }

                setTimeout(function(){
                    box.scrollTop = box.scrollHeight;
                },100)




            }
        },
        computed: {
            tab_online: function () {
                return this.onlienName + "  " + this.onlineList.length + '/';
            }
        },
        watch: {
            'onlineList'() {
            },
            customer:{
                handler(val, oldVal){
                    // $.post('${base}/customer/save',JSON.stringify(app.customer),function(resp){
                    //     console.log(resp);
                    //     if(resp.code == 0){
                    //         app.customer = resp.data;
                    //     }
                    // });
                },
                deep:true
            }
        },
        created: function () {
            $.post('${base}/chat/init', {}, function (resp) {
                console.log(resp);
                var data = resp.data;
                if(data.onlines){
                    app.onlineList = data.onlines;
                    app.onlineList = app.onlineList.filter(function (item) {
                        Vue.set(item, 'lock_active', true);
                        Vue.set(item, 'chat_logs', {
                            pageNo:0,
                            pageSize:20,
                            month:'',
                            chatId:item.id,
                            records:[]
                        });
                        return item;
                    })
                    console.log( app.onlineList);
                    if(app.onlineList[0]){
                        switchChat(app.onlineList[0])
                    }
                }
                if(data.historys!=undefined){
                    app.historyList = data.historys;
                    app.historyList = app.historyList.filter(function (item) {
                        Vue.set(item, 'lock_active', true);
                        Vue.set(item, 'chat_logs', {
                            pageNo:0,
                            pageSize:20,
                            month:'',
                            chatId:item.id,
                            records:[]
                        });
                        return item;
                    });
                }
                app.total = data.me.maxServiceCount;
            });
            this.height_style.height = window.innerHeight + "px";
        }
    });


    $(function () {
        start_time = new Date().getTime();
        layui.use('laytpl', function () {
            laytpl = layui.laytpl;
        });

        //初始化websocket连接
        ws = new ReconnectingWebSocket('ws://${@conf.get("websocket.ip")}:${@conf.get("websocket.port")}?service_id=${session.uid!}', null, {
            debug: true,
            reconnectInterval: 3000
        });

        ws.onopen = function (event) {
            console.log("ws is open");
            end_time = new Date().getTime();
            console.log("init done: " + (end_time - start_time) + " ms");
        };

        ws.onerror = function () {
            console.log("ws is error");
        }

        ws.onclose = function () {
            console.log("ws is close");
        };

        ws.onmessage = function (event) {
            console.log("ws recive message..");
            // console.log(event.data);
            start_time = new Date().getTime();
            //处理消息
            handleMsg(event.data);
        }
    });

    function handleMsg(msgStr) {
        var data = JSON.parse(msgStr);
        var action = data.action + "";
        switch (action) {
            case type.S_RESP_JOIN:
                dankefu.s_handlers.join(data.body);
                break;
            case type.S_RESP_LEAVE:
                dankefu.s_handlers.leave(data.body);
                break;
            default:
                console.error("illegal action: " + action);
        }

        end_time = new Date().getTime();
        console.log("process done :" + (end_time - start_time) + " ms");
    }

    /**
     * 切换会话
     * @param 当前选中的会话对象
     */
    function switchChat(item){
        //切换效果
        app.onlineList = app.onlineList.filter(function (i) {
            Vue.set(i, 'lock_active', false)
            return i;
        })
        app.historyList = app.historyList.filter(function (i) {
            Vue.set(i, 'lock_active', false)
            return i;
        })
        Vue.set(item, 'lock_active', true)

        app.current_chat = item;
        app.current_chat_name = item.name;
        app.current_chat_source = item.source;

        //刷新客户信息
        if(item.customer!=null && item.customer!=undefined){
            app.customer = item.customer;
        }else{
            app.customer = Object.assign({}, app.customer, {
                chatId:  item.id,
                unitId:item.unitId,
                source:item.source,
                id:'',
                name: '',
                remark: '',
                gender: '',
                phone: '',
                email: '',
                age: '',
                birthday: '',
                cardType: '',
                card: '',
                province: '',
                city: '',
                region: '',
                address: '',
                profession: '',
                platform:''
            });
        }

        //加载聊天记录
        var res = item.chat_logs;
        console.log(item);
        if(res.records.length == 0){
            queryRecords(item);
        }
        app.chat_logs = res;
    }


    /**
     * 加载下一页聊天记录
     * @param item 需要查询的会话对象
     */
    function queryRecords(item){
        var logs = item.chat_logs;
        $.post('${base}/chat/records/query',{chatId:item.id,pageNo:logs.pageNo+1,pageSize:logs.pageSize,month:logs.month},function(res){
            console.log(res);
            if(res.code == 0){
                logs.pageNo = res.data.pageNo;
                logs.pageSize = res.data.pageSize;
                logs.mongth = res.data.tableName;
                logs.records = res.data.list;
            }else{
                alert("错误");
            }
        });
    }

    function sendString(str){
        console.log(str);
        ws.send(str);
    }


</script>

</html>