[flex]{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}[flex]>*{display:block}[flex]>[flex]{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}[flex~="dir:left"]{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}[flex~="dir:right"]{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-webkit-box-pack:end}[flex~="dir:top"]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}[flex~="dir:bottom"]{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;-webkit-box-pack:end}[flex~="main:left"]{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}[flex~="main:right"]{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}[flex~="main:justify"]{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}[flex~="main:center"]{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}[flex~="cross:top"]{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;-ms-grid-row-align:flex-start;align-items:flex-start}[flex~="cross:bottom"]{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;-ms-grid-row-align:flex-end;align-items:flex-end}[flex~="cross:center"]{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center}[flex~="cross:baseline"]{-webkit-box-align:baseline;-webkit-align-items:baseline;-ms-flex-align:baseline;-ms-grid-row-align:baseline;align-items:baseline}[flex~="cross:stretch"]{-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;-ms-grid-row-align:stretch;align-items:stretch}[flex~="box:mean"]>*,[flex~="box:first"]>*,[flex~="box:last"]>*,[flex~="box:justify"]>*{width:0;height:auto;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1}[flex~="box:first"]>:first-child,[flex~="box:last"]>:last-child,[flex~="box:justify"]>:first-child,[flex~="box:justify"]>:last-child{width:auto;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}[flex~="dir:top"][flex~="box:mean"]>*,[flex~="dir:top"][flex~="box:first"]>*,[flex~="dir:top"][flex~="box:last"]>*,[flex~="dir:top"][flex~="box:justify"]>*,[flex~="dir:bottom"][flex~="box:mean"]>*,[flex~="dir:bottom"][flex~="box:first"]>*,[flex~="dir:bottom"][flex~="box:last"]>*,[flex~="dir:bottom"][flex~="box:justify"]>*{width:auto;height:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1}[flex~="dir:top"][flex~="box:first"]>:first-child,[flex~="dir:top"][flex~="box:last"]>:last-child,[flex~="dir:top"][flex~="box:justify"]>:first-child,[flex~="dir:top"][flex~="box:justify"]>:last-child,[flex~="dir:bottom"][flex~="box:first"]>:first-child,[flex~="dir:bottom"][flex~="box:last"]>:last-child,[flex~="dir:bottom"][flex~="box:justify"]>:first-child [flex~="dir:bottom"][flex~="box:justify"]>:last-child{height:auto;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}[flex-box="0"]{-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}[flex-box="1"]{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1}[flex-box="2"]{-webkit-box-flex:2;-webkit-flex-grow:2;-ms-flex-positive:2;flex-grow:2;-webkit-flex-shrink:2;-ms-flex-negative:2;flex-shrink:2}[flex-box="3"]{-webkit-box-flex:3;-webkit-flex-grow:3;-ms-flex-positive:3;flex-grow:3;-webkit-flex-shrink:3;-ms-flex-negative:3;flex-shrink:3}[flex-box="4"]{-webkit-box-flex:4;-webkit-flex-grow:4;-ms-flex-positive:4;flex-grow:4;-webkit-flex-shrink:4;-ms-flex-negative:4;flex-shrink:4}[flex-box="5"]{-webkit-box-flex:5;-webkit-flex-grow:5;-ms-flex-positive:5;flex-grow:5;-webkit-flex-shrink:5;-ms-flex-negative:5;flex-shrink:5}[flex-box="6"]{-webkit-box-flex:6;-webkit-flex-grow:6;-ms-flex-positive:6;flex-grow:6;-webkit-flex-shrink:6;-ms-flex-negative:6;flex-shrink:6}[flex-box="7"]{-webkit-box-flex:7;-webkit-flex-grow:7;-ms-flex-positive:7;flex-grow:7;-webkit-flex-shrink:7;-ms-flex-negative:7;flex-shrink:7}[flex-box="8"]{-webkit-box-flex:8;-webkit-flex-grow:8;-ms-flex-positive:8;flex-grow:8;-webkit-flex-shrink:8;-ms-flex-negative:8;flex-shrink:8}[flex-box="9"]{-webkit-box-flex:9;-webkit-flex-grow:9;-ms-flex-positive:9;flex-grow:9;-webkit-flex-shrink:9;-ms-flex-negative:9;flex-shrink:9}[flex-box="10"]{-webkit-box-flex:10;-webkit-flex-grow:10;-ms-flex-positive:10;flex-grow:10;-webkit-flex-shrink:10;-ms-flex-negative:10;flex-shrink:10}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ws8k4l');
  src:  url('fonts/icomoon.eot?ws8k4l#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?ws8k4l') format('truetype'),
  url('fonts/icomoon.woff?ws8k4l') format('woff'),
  url('fonts/icomoon.svg?ws8k4l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cike:before {
  content: "\e916";
}
.icon-male:before {
  content: "\e979";
}
.icon-female:before {
  content: "\e97a";
}
.icon-rechat-02:before {
  content: "\e972";
}
.icon-cancel-meeting:before {
  content: "\e973";
}
.icon-cancel-holdon:before {
  content: "\e974";
}
.icon-management:before {
  content: "\e96d";
}
.icon-meeting:before {
  content: "\e963";
}
.icon-holdon:before {
  content: "\e964";
}
.icon-hangup:before {
  content: "\e965";
}
.icon-transfer:before {
  content: "\e966";
}
.icon-clock-02:before {
  content: "\e967";
}
.icon-chat-02:before {
  content: "\e968";
}
.icon-call:before {
  content: "\e935";
}
.icon-start:before {
  content: "\e960";
}
.icon-stop:before {
  content: "\e961";
}
.icon-return:before {
  content: "\e95c";
}
.icon-print:before {
  content: "\e958";
}
.icon-scan:before {
  content: "\e959";
}
.icon-reprint:before {
  content: "\e957";
}
.icon-rescan:before {
  content: "\e95a";
}
.icon-satisfy-02:before {
  content: "\e955";
}
.icon-component-library:before {
  content: "\e94b";
}
.icon-variable:before {
  content: "\e956";
}
.icon-attachment:before {
  content: "\e94c";
}
.icon-link:before {
  content: "\e93f";
}
.icon-pdf:before {
  content: "\e978";
}
.icon-word:before {
  content: "\e94e";
}
.icon-excel:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e96a";
}
.icon-information:before {
  content: "\e95b";
}
.icon-success:before {
  content: "\e96f";
}
.icon-tip:before {
  content: "\e96c";
}
.icon-warning:before {
  content: "\e96b";
}
.icon-agent:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-ignore:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e927";
}
.icon-chat-history:before {
  content: "\e904";
}
.icon-delete:before {
  content: "\e905";
}
.icon-tuwen:before {
  content: "\e907";
}
.icon-logout:before {
  content: "\e908";
}
.icon-move:before {
  content: "\e914";
}
.icon-move-group:before {
  content: "\e90a";
}
.icon-eye:before {
  content: "\e909";
}
.icon-copy-02:before {
  content: "\e96e";
}
.icon-save:before {
  content: "\e90b";
}
.icon-edit:before {
  content: "\e90c";
}
.icon-tag:before {
  content: "\e90d";
}
.icon-view-more:before {
  content: "\e90e";
}
.icon-user-edit:before {
  content: "\e915";
}
.icon-qr-code:before {
  content: "\e90f";
}
.icon-copy:before {
  content: "\e910";
}
.icon-pack-up-02:before {
  content: "\e95e";
}
.icon-open-02:before {
  content: "\e95f";
}
.icon-clean:before {
  content: "\e906";
}
.icon-choose:before {
  content: "\e94f";
}
.icon-pack-up:before {
  content: "\e930";
}
.icon-open:before {
  content: "\e936";
}
.icon-service:before {
  content: "\e91f";
}
.icon-video:before {
  content: "\e970";
}
.icon-attachment-02:before {
  content: "\e975";
}
.icon-audio:before {
  content: "\e971";
}
.icon-image:before {
  content: "\e91d";
}
.icon-smile:before {
  content: "\e91e";
}
.icon-service-02:before {
  content: "\e954";
}
.icon-image-02:before {
  content: "\e950";
}
.icon-smile-02:before {
  content: "\e951";
}
.icon-satisfy:before {
  content: "\e952";
}
.icon-message-02:before {
  content: "\e94a";
}
.icon-search:before {
  content: "\e911";
}
.icon-add-more:before {
  content: "\e912";
}
.icon-question:before {
  content: "\e913";
}
.icon-right:before {
  content: "\e91a";
}
.icon-left:before {
  content: "\e91c";
}
.icon-view:before {
  content: "\e91b";
}
.icon-phone-channel:before {
  content: "\e920";
}
.icon-message-channel:before {
  content: "\e921";
}
.icon-video-channel:before {
  content: "\e922";
}
.icon-mobile-channel:before {
  content: "\e924";
}
.icon-web-channel:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e93c";
}
.icon-back:before {
  content: "\e93d";
}
.icon-path-back:before {
  content: "\e941";
}
.icon-history:before {
  content: "\e93e";
}
.icon-in-call:before {
  content: "\e923";
}
.icon-chat:before {
  content: "\e940";
}
.icon-color:before {
  content: "\e943";
}
.icon-calendar:before {
  content: "\e942";
}
.icon-upload:before {
  content: "\e944";
}
.icon-download:before {
  content: "\e949";
}
.icon-previous:before {
  content: "\e945";
}
.icon-next:before {
  content: "\e948";
}
.icon-jump-start:before {
  content: "\e947";
}
.icon-jump-end:before {
  content: "\e946";
}
.icon-questionnaire:before {
  content: "\e976";
}
.icon-query:before {
  content: "\e977";
}
.icon-plan:before {
  content: "\e95d";
}
.icon-android:before {
  content: "\e925";
}
.icon-order:before {
  content: "\e926";
}
.icon-campaign:before {
  content: "\e928";
}
.icon-robot:before {
  content: "\e929";
}
.icon-customer:before {
  content: "\e92a";
}
.icon-message:before {
  content: "\e92b";
}
.icon-set:before {
  content: "\e92c";
}
.icon-channel:before {
  content: "\e92d";
}
.icon-send:before {
  content: "\e92e";
}
.icon-task:before {
  content: "\e92f";
}
.icon-pack-up2:before {
  content: "\e9301";
}
.icon-material:before {
  content: "\e931";
}
.icon-add:before {
  content: "\e932";
}
.icon-report:before {
  content: "\e933";
}
.icon-wechat:before {
  content: "\e934";
}
.icon-question2:before {
  content: "\e962";
}
.icon-user:before {
  content: "\e969";
}
.icon-open2:before {
  content: "\e9361";
}
.icon-knowledge:before {
  content: "\e937";
}
.icon-quality:before {
  content: "\e938";
}
.icon-theme:before {
  content: "\e939";
}
.icon-home:before {
  content: "\e93a";
}
.icon-apple:before {
  content: "\e93b";
}
.icon-monitor:before {
  content: "\e953";
}

